nav {
    color: black;
    background-color: white;
    width: 100%;
    height: 90px;
    line-height: 56px;
    position: relative;
    z-index: 3;
}
.nav_1{
    margin-top: 18px;
}
.img1{
    width:100%;
}
@font-face {
    font-family: cbold;
    src: url(comfortaa/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: intro;
    src: url(comfortaa/8289.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: clight;
    src: url(comfortaa/Comfortaa-Light.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: cregular;
    src: url(comfortaa/Comfortaa-Regular.ttf); /* Путь к файлу со шрифтом */
   }
*{
    font-family: cbold;
}
.boj{
    background:#ff7504;
    width:100%;
    height: auto;
    min-height: 170px !important;
}
.p2{
    color:#cbcbcb;
    font-size:36px;
        margin: 0;
        font-family: intro;
}
.p2_2{
    color:#cbcbcb;
    font-size:36px;
    margin-top: 60px;
    margin-bottom:60px;
    font-family: intro;
}
.p2_1{
    color:#cbcbcb;
    font-size:36px;
    margin-bottom: 0;
    margin-top: 70px;
    font-family: intro;
}
.p3{
    color:#ff7504;
    font-size:24px;
    margin-top: 0;
    font-family: intro;
}
.p3_1{
    color:#ff7504;
    font-size:24px;
    margin-top: 0;
    margin-bottom: 100px;
    font-family: intro;
}
.bacj1{
    background:#ff7504;
}
.p4{
    color:black;
    font-size:16px;
    font-family: cbold;
}
.c2{
    height: 90px;
}
li .a1{
    color: black;
    line-height: 1;
    display: inline-block;
    text-decoration:none;
    cursor: pointer;
    font-size:13px;
}
li .a1:hover{
        background-color: transparent;
}
li .a1:after {
        position: relative;
    bottom: 25px;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #ff7504;
    transition: width .3s ease-in-out;
}
li .a1:hover:after,
li .a1:focus:after {
    width: 100%;
}

@media only screen and (min-width: 993px)
{
.container {
    width: 94%;
}
}

.imgye{
    height:450px;
    width: 650px;
}
.frame {
    height: 460px !important;
    line-height: 30px !important;
    overflow: hidden;
}
.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
}
.frame ul li {
    float: left;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: transparent;
    color: #ddd;
    text-align: center;
    cursor: pointer;
}

.b1{
    background: #fd821e;
    position: relative;
    top: 12px;
    height: auto;
    min-height: 450px;
}
.ots{
    padding: 0 !important;
    margin: 0;
}
.gallery{
    background: #fd7200;
    height: auto;
    min-height: 625px;
    display: flex;
    align-items: center;
}
.ss1{
    background:#f1f1f1;
    height: auto;
    min-height: 660px;
}
.ss2{
    background:#e0dede;
    height: auto;
    min-height: 470px;
}
.p7{
    font-size:36px;
    margin-top: 40px;
    margin-bottom: 70px;
    color: #fd7200;
    font-family: intro;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
}
.d1{
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.s3_f{
    background:#fd7200;
}
.tabs{
    background-color: transparent;
    margin-bottom: 40px;
}
.t1{
    font-size: 18px !important;
    color:black !important;
}
.tabs .tab a.active {
    background-color: transparent;
    color: #ff7504 !important;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ff7504 !important;
    will-change: left, right;
}
.ya{
    width: 100%;
    height: auto;
    min-height: 540px;
}
.btnslide{
    z-index: 2;
    position: relative;
    bottom: 8em;
}
.slider{
    height: 715px !important;
}
.slides{
    height: 100% !important;
}
.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 268px;
    left: 15%;
    width: 70%;
    opacity: 0;
}
.btnsld{
    background: transparent;
    border-color: transparent;
}
.btnsld:focus{
    background-color: transparent;
}
.p10{
    font-size: 48px;
    font-family: intro;
    margin-top: 0px;
}
.inp1{
    border: 1px solid #ebebeb !important;
    background: #ebebeb !important;
    padding-left: 10px !important;
    margin: 0 !important;
    width: 275px !important;
    height: 48px !important;
}
.inp1::-webkit-input-placeholder {color:black; font-size: 14px;}
.inp1::-moz-placeholder          {color:black; font-size: 14px;}/* Firefox 19+ */
.inp1:-moz-placeholder           {color:black; font-size: 14px;}/* Firefox 18- */
.inp1:-ms-input-placeholder      {color:black; font-size: 14px;}
.alf{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn2{
      border-radius: 0px;
    background: black;
    height: 50px;
    width: 275px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn2:hover{
    background:transparent;
    color: black;
    border:1px solid black;
}
.btn2:focus{
    background:transparent;
    color: black;
    border:1px solid black; 
}
.frm1{
    position: relative;
    bottom: 90px;
    z-index: 2;
}
.sec2{
    margin-bottom: 120px;
}
.p5_1{
    color: white;
    font-size: 24px;
    padding-top: 35px;
    margin-left: 70px;
    margin-bottom: 90px;
    font-family: cbold;
    
}
.p6{
    color: black;
    font-size: 14px;
    margin-top: 55px;
    margin-bottom: 10px;
    margin-left: 70px;
    height: 120px;
    overflow: hidden;
    font-family: cregular;
}
.p_a{
    margin-bottom: 25px;
    margin-left: 70px;
}
.btn3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}
.c1{
    margin-left: 70px;
}
.a2{
    color: black ;
    font-size: 14px;
}
.a2:hover{
    color: white;
}
.btn4{
    background-color: black;
}
.btn4:hover{
    color: #fd7200;
    background-color: white;
}
.btn4:visited{
    color: #fd7200;
    background-color: white;
}
.btn4:focus{
    color: #fd7200;
    background-color: white;
}

/*slide*/
.caroufredsel_wrapper{
    width: 100% !important;
}
.carus{
    width: 100% !important;
}
.p8{
    font-size: 24px;
    margin:0;
    color: #787878 !important;
}
.chert1{
    background: #787878;
    border: 1px solid #787878;
    width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.p9{
    color:black;
    font-size:14px;
    line-height: 1.714;
    font-family: cregular;
}
.c2{
    color:#787878;
}
.c2:hover{
    color:#fd7200;
}
.p5{
    margin-top: 30px;
    font-family: cbold;
}
.r1{
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uu{
    height: 74px;
}
.sp1{
    font-size:36px;
    color:#fd7200;
    font-family: intro;
}
.p11{
    font-size:24px;
    color:#c8c7c7;
}
.s1_1{
   height:auto;
   min-height:375px;
   background:#f1f1f1;
    padding-bottom: 120px;
}
.sec1{
    background:#dfdcd9;
}
.p12{
    font-size:36px;
    color:#b1b1b1;
    margin-bottom: 15px;
    font-family: intro;
}
.p13{
    font-size:18px;
    color:black;
    margin-bottom: 15px;
}
.p14{
    color:black;
    font-size:30px;
    margin-bottom: 15px;
}
.f1{
    padding-left: 100px !important;
}
.f2{
    text-align: -webkit-center;
    padding-bottom: 15px !important;
}
.srt1{
    height: auto;
    min-height: 360px;
}
.fa1{
    color: black;
    font-size: 30px !important;
}
@media screen and (max-width:992px){
    .resp1 {
    height: auto !important;
}
    .dsp1 {
    height: auto !important;
    border-radius: 0px !important;
}
    .b1 {
    background: #fd821e;
    position: relative;
    top: 12px;
    height: auto;
    min-height: 520px;
}
    .btn3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
    .p6{
    color: black;
    font-size: 14px;
    margin-top: 55px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 140px;
    overflow: hidden;
}
    .p_a {
    margin-bottom: 25px;
    margin-left: 10px;
}
    .p15{
        font-size: 16px !important;
        font-family: intro;
    }
    .img_thumbnail {
    height: auto !important;
    width: 100%;
    min-width: auto !important;
}
    .uslu1{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .uslu{
    height: auto !important;
}
    .p10 {
    font-size: 20px;
}
    .inp1{
    width: 90% !important;
    height: 50px !important;
    margin-top: 10px !important;
    }
    .btn2 {
    border-radius: 0px;
    background: black;
    height: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .uu2{
    margin-top: 10px;
    margin-bottom: 10px;
    }
    .p5_1 {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    padding-top: 35px;
}
    .uu3{
        margin-bottom: 40px;
    }
    .controls{
    margin-top: 30px;
    margin-bottom: 10px;
    }
    .ss2 {
    display:none;
}
    .f1 {
    padding-left: 10% !important;
}
    .chert1 {
    background: #787878;
    border: 1px solid #787878;
    width: 100%;
    margin-top: 10px;
}
    .v2 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
    .img3 {
    float: none !important;
    padding-right: 20px;
    margin-top: 35px;
}
    .img4 {
    margin-top: 45px;
    margin-left: -25px !important;
}
    .p25 {
    color: black;
    font-size: 16px !important;
}
    .ccc{
        display: none;
    }
    .crd2 {
    background: #ff7504;
    margin-top: 40px !important;
    margin-bottom: 20px !important;
    padding: 10px;
    height: auto;
    min-height: 280px;
}
/*media*/
}
@media screen and (max-width:1115px){
    .usi1{
        display:none;
    }
}
@media screen and (max-width:563px){
    .nom1 {
    bottom: 0px !important;
    position: absolute !important;
    width: 100%;
}
    .pic:hover .top-to-bottom {
    bottom: 0px !important;
}
}

.p15{
    font-size:36px;
    color:#cbcbcb;
    margin-top:120px;
    margin-bottom:0px;
    font-family: intro;
}
.p16{
    color:#ff7504;
    font-size:18px;
    margin-top:0px;
    margin-bottom:60px;
    font-family: intro;
}
.sec3{
    background:#eeeeee;
}
.crd1{
    border-radius: 0px !important;
    background-color: white;
    margin-bottom: 30px;
}
.v1{
    float: left;
}
.v2{
    margin-left: 100px;
    margin-right: 290px;
}
.p17{
    font-size:16px;
    color:black;
    margin-bottom:40px;
}
.sec4{
    padding-bottom:60px;
}
.p18{
    color:#ff7504 !important;
    font-size:24px;
}
.prav2{
    float:left;
    margin-right: 10px;
    margin-top: 6px;
}
.prav1{
    margin-top: 60px;
    margin-left: 9px;
}
.prav3{
    margin-top: 35px;
    margin-left: 9px;
}
.prav4{
    margin-left:40px;
}
.p22{
    color:#7f7f7f;
    font-size:18px;
    margin-bottom:275px;
}
.p23{
    font-size: 18px;
    color:#ff7504 ;
}
.p24{
    font-size: 18px;
    color:black ;
}
.p25{
    color: black;
    font-size: 24px;
}
.inp_con{
    border: 1px solid white !important;
    background-color: white !important;
    color: black;
    text-indent: 15px;
}
.inp_con::-webkit-input-placeholder {color:#878686; font-size: 14px;}
.inp_con::-moz-placeholder          {color:#878686; font-size: 14px;}/* Firefox 19+ */
.inp_con:-moz-placeholder           {color:#878686; font-size: 14px;}/* Firefox 18- */
.inp_con:-ms-input-placeholder      {color:#878686; font-size: 14px;}
textarea.materialize-textarea {
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 8rem;
}
.btn5{
    border-radius: 0px;
    background: #ff7504;
    color: black;
    width: 100%;
    max-width: 265px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn5:hover{
    border:1px solid #ff7504;
    color: black;
    background: transparent;
}
.btn5:focus{
    border:1px solid #ff7504;
    color: black;
    background: transparent;
}
.con_1{
    text-align: right;
    text-align: -webkit-right;
    margin-bottom: 60px;
    margin-top: 30px;
}
.img3{
    float: left;
    padding-right: 20px;
    margin-top: 35px;
}
.img4{
    margin-top: 50px;
    margin-left: 50px;
}
.crd2{
    background:#ff7504;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    height: auto;
    min-height: 280px;
}
.img5{
    margin-top: 230px;
    margin-left: 30px;
}
.p26{
    color: white;
    font-size: 18px;
}
.p27{
    font-size: 14px;
    color:black;
    margin-bottom: 60px;
    font-family: cregular;
}
td{
    font-family: cregular;
}
.p16_1{
    color: rgb(255, 117, 4);
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 00px;
    font-family: intro;
}
.nom{
    height: auto;
    min-height: 55px;
    background: #ff7504;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p28{
    margin:0;
    font-size: 18px;
    text-align: center;
}
.pic-caption{
    cursor: pointer;
    background: rgba(255, 115, 0, 0.451) !important;
}
.pic:hover .top-to-bottom {
    left: 0;
    bottom: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_n{
    cursor: pointer;
    color:black;
    font-size:24px;
}
.nom1{
    position: relative;
    bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_n{
    border:1px solid black;
    background:black;
    color:white;
    border-radius: 0px;
    width: 100%;
    max-width: 265px;
    height: 55px;
    padding: 10px;
}
.btn_n:hover{
    background:black;
    color:white;
}
.pic-image {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.usm{
    float: left;
}
.uslu{
    background: white;
    height: 246px;
    margin-bottom: 30px;
}
.p29{
    color:#ff7504;
    font-size:30px;
    word-break: break-word;
    margin-left: 20px;
    margin-right: 20px;
}
.p30{
    font-size:16px;
    color:black;
    margin-left: 20px;
    margin-right: 20px;
}
.usi{
    width:100%;
    max-width: 468px;
    height: 246px;
}
.y1{
    float:left;
    margin-right:10px;
}
.p31{
    margin-bottom: 50px !important;
    font-size:14px;
}
.p32{
    color:#ff7300 !important;
    font-size:24px;
    padding-bottom: 20px;
}
.p33{
    font-size:16px;
    color:black;
    padding-bottom: 20px;
}
.resp1{
    height: 390px;
}
.p34{
    margin-bottom: 30px !important;
    font-size:12px;
    margin-top: 10px !important;
}
.p34:hover{
    color: #ff7300 !important;
}
.do_a1{
    color:black !important;
}
.pic-image{
    width: 100%;
    height: auto;
    max-height: 455px;
}
.pic{
    margin: 0 !important;
    margin-bottom: 30px !important;
}
.img_thumbnail{
    height: 376px;
    width: 100%;
    min-width: 564px;
}
.sol1{
    margin-top:60px !important;
}
.p35{
    color:#ff7504;
    font-size: 30px;
}
.p_1_1{
    margin-top: 60px;
}
.ph1{
    margin-top: 90px;
}
.dsp{
    min-height: 230px;
    max-height: 230px;
}
.dsp1{
    height: 700px;
    border-radius: 0px !important;
}
.iuy{
    height: 500px;
    width:500px;
}
/* картинка на странице */
.minimized {
  cursor: pointer;
}
/* увеличенная картинка */
#magnify {
  display: none;
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999;
}
 
#magnify img {
  width: 100%;
}
 
/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
 
/* кнопка закрытия */
#close-popup {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

/**/
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  font-weight: bold;
}
th,
td {
  border: 1px solid #333;
  line-height: 1.5;
  padding: 0.75em;
  text-align: left;
}
/* Stack rows vertically on small screens */
@media (max-width: 30em) {
  /* Hide column labels */
	thead tr {
		position: absolute;
		top: -9999em;
		left: -9999em;
	}
	tr {
    border: 1px solid #333;
    border-bottom: 0;
  }
	/* Leave a space between table rows */
  tr + tr {
    margin-top: 1.5em;
  }
  /* Get table cells to act like rows */
  tr,
  td {
		display: block;
	}
	td {
		border: none;
		border-bottom: 1px solid #333;
	/* Leave a space for data labels */
		padding-left: 50%;
	}
	/* Add data labels */
  td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
  }
}
/* Stack labels vertically on smaller screens */
@media (max-width: 20em) {
  td {
    padding-left: 0.75em;
  }
  td:before {
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
  }
}
/**/
.slid{
    height: 550px;
}
.pgwSlider {
    width: 100%;
    color: #fff;
}

.pgwSlider a{
    display: block;
    text-decoration: none;
    color: #fff;
}

.pgwSlider .ps-current {
    float: left;
    width: 74%;
    overflow: hidden;
    height: inherit;
    position: relative;
    font-size: 1rem;
}

.pgwSlider.listOnTheLeft .ps-current {
    float: right;
}

.pgwSlider .ps-current ul {
    width: 100%;
}

.pgwSlider .ps-current li {
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: none;
}

.pgwSlider .ps-current img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-caption {
    position: absolute;
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    left: 0;
    bottom: 0;
    display: none;
    z-index: 3;
}

ul.pgwSlider,
.pgwSlider  ul {
    float: right;
    width: 25%;
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.pgwSlider.listOnTheLeft,
.pgwSlider.listOnTheLeft > ul {
    float: left;
}

ul.pgwSlider > li,
.pgwSlider > .ps-list > li {
    height: 50px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-size: 0.8rem;
    transition: opacity 200ms linear;
}

ul.pgwSlider > li:last-child,
.pgwSlider > ul > li:last-child {
    margin-bottom: 0;
}

ul.pgwSlider > li span,
.pgwSlider > .ps-list > li span {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.pgwSlider > li:hover,
.pgwSlider > ul > li:hover {
    opacity: 1 !important;
}

ul.pgwSlider > li img,
.pgwSlider > ul > li img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-prevIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
}

.pgwSlider .ps-nextIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    display: block;
}

.pgwSlider .ps-current .ps-prev {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    padding: 20px 20px 20px 17px;
    left: 0;
    top: 45%;
    cursor: pointer;
}
.pgwSlider .ps-current .ps-next {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: absolute;
    padding: 20px 17px 20px 20px;
    right: 0;
    top: 45%;
    cursor: pointer;
}
ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li {
    width: 100% !important;
}
.pgwSlider.narrow .ps-current {
    margin-bottom: 6px;
    font-size: 0.8rem;
}
.pgwSlider.narrow .ps-current img {
    width: 100%;
    min-height: inherit;
}
.pgwSlider.narrow .ps-current,
ul.pgwSlider.narrow,
.pgwSlider.narrow > ul {
    width: 100%;
}
ul.pgwSlider.narrow > li,
.pgwSlider.narrow > .ps-list > li {
    float: left;
    min-height: 50px;
    max-height: 70px;
    min-width: 15%;
    font-size: 0.7rem;
    margin-bottom: 0;
}
ul.pgwSlider.narrow.listOnTheLeft > li,
.pgwSlider.narrow.listOnTheLeft > ul > li {
    float: right;
}
.pgwSlider.narrow .ps-caption {
    padding: 8px;
}
.pgwSlider.narrow .ps-current .ps-prev {
    padding: 15px 15px 15px 12px;
    top: 40%;
}
.pgwSlider.narrow .ps-current .ps-next {
    padding: 15px 12px 15px 15px;
    top: 40%;
}
.pgwSlider{
    width:100%;
    color:#fff;
    margin-top: 15px;
}
.pgwSlider a{
    display:block;
    text-decoration:none;
    color:#fff
}
.pgwSlider .ps-current{
    float:left;
    width:74%;
    overflow:hidden;
    height:inherit;
    position:relative;
    font-size:1rem
}
.pgwSlider.listOnTheLeft .ps-current{
    float:right
}
.pgwSlider .ps-current ul{
    width:100%
}
.pgwSlider .ps-current li{
    width:100%;
    z-index:1;
    opacity:0;
    display:none;
}
.pgwSlider .ps-current img{
    max-width:100%;
    min-width:100%;
    height:auto;
    display:block;
    transition:margin-top 250ms linear;
}
.pgwSlider .ps-caption{
    position:absolute;
    width:100%;
    padding:12px;
    background:rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    left:0;
    bottom:0;
    display:none;
    z-index:3;
}
ul.pgwSlider,.pgwSlider ul{
    float:right;
    width:25%;
    padding:0;
    list-style:none;
    margin:0;
}
ul.pgwSlider.listOnTheLeft,.pgwSlider.listOnTheLeft>ul{
    float:left;
}
ul.pgwSlider>li,.pgwSlider>.ps-list>li{
    height:50px;
    margin-bottom:6px;
    overflow:hidden;
    position:relative;
    opacity:.6;
    filter:alpha(opacity=60);
    font-size:.8rem;
    transition:opacity 200ms linear;
}
ul.pgwSlider>li:last-child,.pgwSlider>ul>li:last-child{
    margin-bottom:0;
}
ul.pgwSlider>li span,.pgwSlider>.ps-list>li span{
    display:block;
    width:100%;
    position:absolute;
    bottom:0;
    padding:5px;
    background:rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
ul.pgwSlider>li:hover,.pgwSlider>ul>li:hover{
    opacity:1 !important;
}
ul.pgwSlider>li img,.pgwSlider>ul>li img{
    width:100%;
    min-height:100%;
    display:block;
    transition:margin-top 250ms linear;
}
.pgwSlider .ps-prevIcon{
    border-color:transparent #fff transparent;
    border-style:solid;
    border-width:10px 10px 10px 0;
    display:block;
}
.pgwSlider .ps-nextIcon{
    border-color:transparent #fff transparent;
    border-style:solid;
    border-width:10px 0 10px 10px;
    display:block;
}
.pgwSlider .ps-current .ps-prev{
    background:rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border:1px solid #777;
    border-left:0;
    border-radius:0 4px 4px 0;
    position:absolute;
    padding:20px 20px 20px 17px;left:0;top:45%;
    cursor:pointer;
}
.pgwSlider .ps-current .ps-next{
    background:rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border:1px solid #777;
    border-right:0;
    border-radius:4px 0 0 4px;
    position:absolute;
    padding:20px 17px 20px 20px;
    right:0;top:45%;
    cursor:pointer;
}
ul.pgwSlider.wide>li,.pgwSlider.wide>ul>li{
    width:100% !important;
}
.pgwSlider.narrow .ps-current{
    margin-bottom:6px;
    font-size:.8rem;
}
.pgwSlider.narrow .ps-current img{
    width:100%;
    min-height:inherit;
}
.pgwSlider.narrow .ps-current,ul.pgwSlider.narrow,.pgwSlider.narrow>ul{
    width:100%;
}
ul.pgwSlider.narrow>li,.pgwSlider.narrow>.ps-list>li{
    float:left;
    min-height:50px;
    max-height:70px;
    min-width:15%;
    font-size:.7rem;
    margin-bottom:0;
}
ul.pgwSlider.narrow.listOnTheLeft>li,.pgwSlider.narrow.listOnTheLeft>ul>li{
    float:right;
}
.pgwSlider.narrow .ps-caption{
    padding:8px;
}
.pgwSlider.narrow .ps-current .ps-prev{
    padding:15px 15px 15px 12px;
    top:40%;
}
.pgwSlider.narrow .ps-current .ps-next{
    padding:15px 12px 15px 15px;
    top:40%;
}
.btn6{
      border-radius: 0px;
    background: black;
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.btn6:hover{
    background:transparent;
    color: black;
    border:1px solid black;
}
.btn6:focus{
    background:transparent;
    color: black;
    border:1px solid black; 
}
.uu4{
    margin-bottom: 40px;
}
.fa-bars{
    color:black;
        margin-top: 15px;
}
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    will-change: opacity;
}
@media screen and (max-width:1270px){
    .nav_1 {
    margin-top: 18px;
    display: none;
}
nav a.button-collapse {
    display: block;
}
    
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 0px solid rgba(160,160,160,0.2);
    padding: 16px 24px;
}
.bron{
    padding-top: 70px;
}

